.band {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 20px;
  grid-template-rows: 20px auto;
  &__name {
    grid-column: 1/5;
  }
  &__photo {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

