<!-- todo: refactor *ngIf, use else-->
<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="item"  routerLinkActive="active" [routerLink]="[ '/admin/general-config']">
            Главные настройки
        </a>
        <a class="item" routerLinkActive="active" [routerLink]="[ '/admin/create']">
            Создать группу
        </a>
        <a class="item" routerLinkActive="active">
            Добавить контент
        </a>
    </div>
</div>
<router-outlet></router-outlet>
