<nav class="header">
  <div class="logo">
    <h2>Dark World</h2>
  </div>
  <ul class="header__list">
    <li class="header__item">
      <a class="header__item-link" routerLink="/home">
        В начало
      </a>
    </li>
    <li class="header__item">
      <a class="header__item-link" routerLink="/bands">
        Bands
      </a>
    </li>
    <li class="header__item">
      <a class="header__item-link" routerLink="/albums">
        Albums
      </a>
    </li>
    <li *ngIf="userIsAuthenticated" class="header__item">
      <a class="header__item-link" routerLink="/admin/create">
        Admin
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="header__item">
      <a class="header__item-link " routerLink="/auth/login">
        Login
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="header__item">
      <a class="header__item-link" routerLink="/auth/signup">
        Signup
      </a>
    </li>
    <li *ngIf="userIsAuthenticated" class="header__item">
      <a class="header__item-link" (click)="onLogout()">
        Logout
      </a>
    </li>
  </ul>
</nav>
