

<div class="container">
  <div class="title">This is Bands page</div>
  <app-filter class="filter"></app-filter>
  <app-band-card (click)="navigateToPage()" class="band-card"></app-band-card>
  <app-band-card (click)="navigateToPage()" class="band-card"></app-band-card>
  <app-band-card (click)="navigateToPage()" class="band-card"></app-band-card>
  <app-band-card (click)="navigateToPage()" class="band-card"></app-band-card>
  <app-band-card (click)="navigateToPage()" class="band-card"></app-band-card>

</div>
<app-pagination></app-pagination>
