<div class="ui card">
  <div class="image">
    <img [src]="bandCard.imagePath">
  </div>
  <div class="content">
    <div class="header">{{bandCard.name}}</div>
    <div class="meta">{{bandCard.genre}}</div>
    <div class="description">

      <button class="ui black button" (click)="onDelete(bandCard.id)">Delete</button>
      <button class="ui black button" (click)="onEdit(bandCard.id)">Edit</button>
    </div>
<!--    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>-->
  </div>
  <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
</div>
