.band-card {
    position: relative;
    width: auto;
    background: rgba(40, 40, 40, 0.7);
    border: none;
    box-shadow: none;
    height: 100%;
    cursor: pointer;
    &__name {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    &__genre {
        font-size: 12px;
        color: #ccc;
    }
    &__button-group {
        position: absolute;
        bottom: 10px;
    }
    &__btn {
        min-width: 90px;
    }
}
