.card {
  width: auto;
  background: rgba(40,40,40,.7);
  border: none;
  box-shadow: none;
  height: 100%;
  * {
    color: #fff;
  }
}

//todo: refactor style
.header {
  color: #fff !important;
}
.meta {
  color: #ccc !important;
}
