
<header id="pageHeader" class="ui inverted menu">
  <ul class="menu__wrap">
    <li>
      <a class="menu__item item" routerLink="/home">
        Home
      </a>
    </li>
    <li>
      <a class="menu__item item" routerLink="/bands">
        Bands
      </a>
    </li>
    <li>
      <a class="menu__item item" routerLink="/albums">
        Albums
      </a>
    </li>
    <li>
      <a class="menu__item item" routerLink="/admin">
        Admin
      </a>
    </li>
  </ul>
</header>
<article class="ui inverted" id="mainArticle">Article
  <router-outlet></router-outlet>

</article>
<nav class="ui inverted" id="mainNav">
</nav>
<div class="ui inverted" id="siteAds">Ads</div>
<footer class="ui inverted black" id="pageFooter">Footer</footer>
