body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right bottom, rgb(39, 37, 39), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  color: #fff;
  width: 100%;
}

app-root {
  display: grid;

  grid-template-areas:
    "nav article"
    "footer footer ";
  grid-template-rows: 1fr 70px;
  grid-template-columns: 1fr 5fr;
  grid-row-gap: 10px;
  height: 100vh;
  margin: 0;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  app-root {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 60px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
  }
}

.ui.form .fields {
  margin: 0;
}

#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: article;
  overflow-y: scroll;

}
#mainNav {
  grid-area: nav;

}
#siteAds {
  grid-area: ads;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

